/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/widgets/responsible_widget/widget/widget.zip
/public/widgets/responsible_widget/widget/script.js
/public/widgets/responsible_widget/widget/manifest.json
/public/widgets/responsible_widget/widget/i18n
/public/widgets/responsible_widget/widget/css
/public/widgets/responsible_widget/widget/js
/public/bundle.js
